body{
    background-color: black;
 color: white;
 text-align: center;
}
.img,.img2{
    border: 1px solid white;
}
@media (max-width: 600px){
    .img{
        display:none;
    }
    
}

@media (min-width: 600px){
    .img2{
        display: none;
    }
}