* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    max-width: 100%;
  }
  a {
    text-decoration: none;  
  }
  
  li {
    list-style: none;
  }
  
  html,body{
    margin: 0;
    font-family: "Playfair Display";
    height:100%;
  
  }

  .header {
max-width: 100%;
     background-position:center center;
    display:flex;
    flex-direction:column;

  }

  h1{
      font-family: "Playfair Display";
      color: #1A1914;
      font-size: 82px;
      text-align: center;
      margin-bottom: 0px;
      margin-top:40px;
  }

  #subtitulo{
      font-family: "Josefin Slab";
      color: #996851;
      font-size: 72px;
      text-align:right;
      margin-right: 220px;
      margin-top: 0px;


  }

  h2{
      font-family: "Playfair Display";
      color: #1A1914;
      font-size: 72px;
  }

  h3{
      font-family: "Josefin Slab";
      font-size: 42px;
      color: #1A1914;
      text-align: center;
      margin-bottom: 0px;
  }
  .sabores{
      display: grid;
      grid-template-columns: 70px 1fr 1fr 1fr 70px;

  }
  .titulo{
      grid-column: 2/6;
      padding: 0px;
      margin: 0px;
  }
  .sabores2{
      grid-column: 2/5;
      text-align: center;
  }
 
  .produtos {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    margin-top: 40px;
    margin-bottom: 40px;
    justify-content: center;
  }
  .ovos{
    margin-bottom: 50px;
  }

  .sabores2 img{
      border: 2px solid #1A1914;
      border-radius: 5px;
  }
  
  .sabores2 span{
      color: #1A1914;
      font-size: 32px;
      font-weight: bold;
      margin: 4px;
     
      
  }
  #quantidade{
      width: 50px;
      border: 2px solid #1A1914;
      border-radius: 5px;
  }

  .encomendas{
    display: grid;
    grid-template-columns: 70px 1fr 1fr 1fr 70px;

}
   
label{
    font-family: "Josefin Slab";
    font-size: 34px;
    color: #996851;
    text-align: left;
    display: block;
    padding:10px;
    margin: 1px solid red;
}
.form {
    grid-column: 2/5;
      text-align: center;
      margin: 1px solid red;
  }


.form input {
    height: 35px;
width: 500px;
padding: 5px;
border-bottom: 2px solid #1A1914;
border-top: none;
border-left: none;
border-right: none;
}

input:focus{
    outline: none;
    box-shadow: 4px 4px 0px #996851;
    border-bottom: none;
}


input{

    font-family: "Playfair Display";
    font-size: 24px;
}

#quantidade2{
    width: 50px;
    border-bottom: 2px solid #1A1914;

}

#enviar{
    border: 2px solid #1A1914;
    font-size: 34px;
    font-family: "Playfair Display";
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    width: 200px;
    margin-top: 30px;
}


#enviar:hover{
    border: 2px solid #996851;
    transition: 0.3s;
    color: #996851;
}

span{
    cursor: pointer;
}

.valor{
 font-weight: bold;
 font-size: 16px;
}