body,
h1,
h2,
h3,
ul,
li,
p {
  margin: 0px;
  padding: 0px;
}


body {
  background: #fffbf0;
  color: #222;

}
.main {
    width: 50%;
    margin:auto;
    margin-top: 30px;
}

  
  

h1 {
    font-family: "Josefin Slab", Bitter, georgia;
    font-size: 3rem;
    font-weight: normal;
  text-decoration: none;
    color: #816d39;
    text-align: left;
    border-bottom: 1px solid #222;
    width: 60%;
  }
  
p {
    margin-top: 20px;
    letter-spacing: 0.1em;
    font-family: "IBM Plex Mono", monospace;
}